.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	color: white;
	padding: 0.39em 0.8em;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.button:hover,
.button:active {
	background-color: #cccccc;
}

.icon {
	width: 1.4em;
	height: 1.4em;
	margin-bottom: 0.3em;
	color: black;
}

.badge {
	margin-left: 0.5em;
	padding: 0.25em 1em;
	background-color: #236be0;
	border-radius: 10px;
	font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
	background-color: #236be0;
}

@media (min-width: 600px) {
	.button {
		padding: 0.43em 0.8em;
	}
}

@media (min-width: 900px) {
	.button {
		padding: 0.27em 0.8em;
	}
	.icon {
		font-size: 1.4rem;
		margin-bottom: -0.4em;
	}
}
