.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	height: 6em;
	background-color: #000;
}

.navbar-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.navbar-nav ul {
	display: flex;
	align-items: center;
}

.navbar-nav li {
	padding: 0.5em;
}

.navbar-nav li a {
	color: #cacccc;
	padding: 0.5em;
}

.navbar-nav a:hover,
.navbar-nav a:active,
.navbar-nav a.active {
	color: #fff;
}

.navbar-btn a:hover,
.navbar-btn a:active,
.navbar-btn a.active {
	color: #fff;
}

.navbar-btn a.active button {
	color: #fff;
}

.navbar a svg,
.navbar button svg {
	font-size: 1.5rem;
}

@media (min-width: 600px) {
	.navbar a svg,
	.navbar button svg {
		font-size: 1.6rem;
	}
	.navbar-nav li {
		margin: 0 0.7em;
	}
}

@media (min-width: 900px) {
	.navbar {
		display: none;
	}
}
