.navbar {
	display: none;
	align-items: center;
	width: 100%;
	height: 6em;
	background-color: #000;
}

.navbar-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.navbar-nav ul {
	display: flex;
	align-items: center;
}

.navbar-nav li {
	margin: 0 0.7em;
}

.navbar-nav li a {
	color: #cacccc;
}

.navbar-nav a:hover,
.navbar-nav a:active,
.navbar-nav a.active {
	padding-bottom: 0.1rem;
	border-bottom: 1px solid #fff;
	color: #fff;
}

.navbar-btn a:hover,
.navbar-btn a:active,
.navbar-btn a.active {
	border-bottom: none;
	color: #fff;
}

.navbar-btn a.active button {
	color: #fff;
}

@media (min-width: 600px) {
}

@media (min-width: 900px) {
	.navbar {
		display: flex;
	}
}
